
.playground {
    width: 200px;
    height: 500px;
    border: 2px dashed #a1c4fd;
}



.playground .redball {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /*border: 1px dashed #aaa;*/
    animation: moveX 1s infinite;
}

.playground .redball .inner {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
    animation: moveY 1s cubic-bezier(0.25,-0.73, 1, 1) infinite;
}


@keyframes moveX {
    to {
        transform: translateX(175px);
    }
}

@keyframes moveY {
    to {
        transform: translateY(475px);
    }
}