.audioWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.audioWrapper .currentLyric {
    background-image: linear-gradient(0deg,#a18cd1 0%, #fbc2eb 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 30px;
}

.audioWrapper .canvasWrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    cursor: grab;
}