
.container1 {
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container1 .eraser1 {
    position: absolute;
    inset: 0;
}

.container1 .eraser1 .text1 {
    background: linear-gradient(to right, #f83600, #f9d423) no-repeat right bottom;
    background-size: 0px 2px;
    transition: background-size 0.5s;
}

.container1 .eraser1 .text1:hover {
    background-position: left bottom;
    background-size: 100% 2px;
}