.my-container2 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*width: 80%;*/
    /*margin: 1em auto;*/
    position: relative;
    /*left: 16px;*/
    line-height: 2;
    text-indent: 2em;
}

.my-container2 .my-eraser2 {
    position: absolute;
    inset: 0;
}

@property --my-eraserp {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}


.my-container2 .my-eraser2 .my-text2 {
    --my-eraserp: 0%;
    background: linear-gradient(to right, #0000 var(--my-eraserp), #fee140 calc(var(--my-eraserp) + 100px));
    color: transparent;
    animation: my-eraser2 1s linear forwards;
}

@keyframes my-eraser2 {
    to {
        --my-eraserp: 100%
    }
}